.layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100vh;
}

.layout div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  box-sizing: border-box;
  background-color: rgb(71, 71, 71);
  color: white;
  padding: 1rem;
  margin: 1rem;
}

.header,
.footer {
  grid-column-start: span 4;
}

.sidebar {
  grid-row-start: span 5;
}

.main-content {
  grid-column-start: span 3;
  grid-row-start: span 5;
}
